body {
/*  background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);*/
}

#back {
/*  background: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8)),url(https://dopefolio.netlify.app/assets/svg/common-bg.svg);*/
  color: #2a132d;
  background-color: #fcd7fb;
  background-size: cover;
  background-position: center;
}

.navbar {
  background: transparent!important;
  backdrop-filter: blur(10px);
}

#header {
  color: #012a78;
  background-color: #afc6ff;
}

#project, #project a {
/*  color: #421a6c;*/
/*  background: #dcb8ff;*/
  color: #fcd7fb;
  background: #2a132d;
  text-decoration: none;
}

#certificate, #certificate a {
/*  color: #583e5a;*/
/*  background: #fcd7fb;*/
  color: #2a132d;
  background: #fcd7fb;
  text-decoration: none;
}

#theme {
/*  background-color: #f0dbff;*/
}

.card {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 2px 1px -1px rgb(0 0 0 / 12%);
}

.btn-yt, .btn-yt:hover, .btn-yt:active, .btn-yt:visited {
  color:white !important;
  background: #f5222d !important;
}
  
.btn-hits, .btn-hits:hover, .btn-hits:active, .btn-hits:visited {
  color:white !important;
  background-color: #4c6ef5 !important;
}
  
.btn-fb, .btn-fb:hover, .btn-fb:active, .btn-fb:visited {
  color:white !important;
  background-color:#1877f2 !important;
}
  
.btn-insta, .btn-insta:hover, .btn-insta:active, .btn-insta:visited {
  color: white !important;
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d) !important;
}

.btn-twitter, .btn-twitter:hover, .btn-twitter:active, .btn-twitter:visited {
  color:white !important;
  background-color:#1DA1F2 !important;
}

.btn-linkedin, .btn-linkedin:hover, .btn-linkedin:active, .btn-linkedin:visited {
  color:white !important;
  background:#0a66c2 !important;
}

.btn-site, .btn-site:hover, .btn-site:active, .btn-site:visited {
  color:white !important;
  background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%) !important;
}

.btn-info{
  color: white !important;
}

.btn-linkedin:hover, .btn-site:hover, .btn-hits:hover, .btn-fb:hover, .btn-insta:hover, .btn-yt:hover, .btn-site:hover, .btn-twitter:hover {
  opacity: 0.8;
}

.footer{
  color: #012a78;
  background: #afc6ff;
}

#tilt {
  transform-style: preserve-3d;
  transform: perspective(1000px); 
}

#pop {
  transform: translateZ(20px);
}